.animate-end-game {
    animation: endGame .8s ease-in-out;
}
@keyframes endGame {
    0% {
        transform: scale(0);
        opacity: .25;
    }
    33% {
        transform: scale(1.5);
    }
    66% {
        transform: scale(.5);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}