:root {
    --redColor: rgba(200, 30, 30, .8);
    --greenColor: rgba(0, 170, 25, 0.8);
}
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body {
    position: relative;
    color: #aaa;
}
.container {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 0 1rem;
}
.main-title div {
    text-align: center;
}
.subtitle {
    color: var(--redColor);
    font-size: .8rem;
    opacity: .7;
}
.input-field {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;
    position: relative;
}
.input-field div:first-child {
    flex-grow: 3;
}
.input-field div:last-child {
    flex-grow: 1;
    text-align: center;
}
.input-field input {
    width: 100%;
    padding: .5rem;
    margin: .2rem 0;
    border: none;
    box-shadow: inset 0 0 .2rem var(--greenColor);
    box-sizing: border-box;
}
.input-notice {
    text-align: center;
    font-size: 1rem;
    opacity: .95;
    padding: .2rem;
    border: .1rem solid rgba(0,0,0,0);
    border-radius: .1rem;
    transition: .5s;
    /*hidden*/
    opacity: 0;
}
.error-active {
    opacity: 1;
    border-color: var(--redColor);
}
.btn-play {
    border: none;
    background-color: var(--greenColor);
    color: #fff;
    font-weight: bold;
    letter-spacing: .05rem;
    padding: .5rem 1rem;
    border: inset 0 0 .5rem red;
    border-radius: .1rem;
    transform: translateY(-.5rem);
    transition: .5s;
}
.btn-play:hover {
    cursor: pointer;
    filter: brightness(125%);
}
main {
    position: relative;
    overflow-x: hidden;
}
.game-hint {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(99.5%);
    line-height: 2rem;
    color: #333;
}
.game-hint::before {
    content: '?';
    position: absolute;
    top: 0;
    left: -2rem;
    color: var(--redColor);
    font-weight: bold;
    font-size: 2rem;
    transition: .2s;
}
.game-hint:hover::before {
    cursor: pointer;
    left: -2.5rem;
    transform: scale(1.05);
}
.hide-before::before {
    opacity: 0;
}
.game-container {
    display: flex;
    padding: 2rem 0;
}
.game-title {
    padding: 2rem 0 0 0;
    color: var(--redColor);
    filter: brightness(115%);
    width: 50%;
    text-align: center;
    letter-spacing: .5rem;
}
.image,
.buttons {
    min-height: 60vh;
    width: 50%;
    background-color: #fff;
}
.image {
    background-image: url(../img/gibbet1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.chances {
    color: var(--redColor);
    font-size: 1.5rem;
    padding: .5rem 1rem;
}
.chances span {
    margin: .2rem;
}
.stopwatch {
    position: absolute;
    top: .5rem;
    right: .5rem;
    font-size: 1.5rem;
    text-shadow: 0 0 .01rem var(--greenColor);
    padding: .4rem;
    border: .1rem solid rgba(0, 0, 0, 0);
    border-radius: 1rem;
    box-shadow: inset 0 0 .05rem var(--greenColor);
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}
.symbol {
    margin: .2rem;
    width: 14%;
    height: 14%;
    background-color: #222;
    color: #ddd;
    border: none;
    box-shadow: inset 0 0 .5rem #ddd;
}
.active:hover {
    cursor: pointer;
    background-color: #333;
    transform: scale(1.07);
    transition: .3s;
}
.btnSuccess {
    background-color: var(--greenColor);
}
.btnError {
    background-color: var(--redColor);
}
.top-layer {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    z-index: 100;
}
.top-layer div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.permition-layer {
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    height: 70%;
    background-color: rgba(51, 51, 51, .95);
    text-align: center;
    padding: 3rem 0 0 0;
    display: none;
}
.per-div:first-child {
    padding: 1rem;
    color: var(--redColor);
    filter: brightness(.8);
    background-color: #fff;
    margin-bottom: 3rem;
}
.permition-btn {
    font-size: 1.3rem;
    padding: .5rem 3rem;
    margin: 0 1.5rem;
    color: #ddd;
    border: none;
    box-shadow: inset 0 0 .4rem #333, inset 0 0 .3rem #ddd;
    transition: .2s;
}
.permition-btn:hover {
    cursor: pointer;
    filter: brightness(1.2);
    transform: scale(1.1);
}
.permition-btn:first-child {
    background-color: var(--greenColor);
}
.permition-btn:last-child {
    background-color: var(--redColor);
}
.end-game-title {
    background-color: rgba(255, 255, 255, .85);
    padding: 1rem;
}
.layer-title {
    letter-spacing: .2rem;
}
.end-game {
    width: 100%;
}
.game-result {
    display: inline-flex;
    font-size: 1.5rem;
}
.opacity-hidden {
    opacity: 0;
}
.best-results {
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem 3rem;
    margin: 2rem;
    list-style: none;
    border: .05rem solid #ddd;
    background-color: rgba(0, 0, 0, .5);
}
.best-results li {
    margin: .2rem;
}
.title-loss {
    color: var(--redColor);
}
.title-win {
    color: var(--greenColor);
}
.btn-refresh {
    padding: 1rem;
    background-color: var(--redColor);
    border: none;
    color: #ddd;
    letter-spacing: .1rem;
    transition: .5s;
}
.btn-refresh:hover {
    cursor: pointer;
    filter: brightness(125%);
}
.page-footer {
    text-align: center;
    padding: 2rem 0 .5rem 0;
}
.page-footer a {
    color: #666;
    text-decoration: none;
}
@media screen and (orientation: portrait){
    .container {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
    }
    .main-title {
        padding: .5rem;
    }
    .input-field {
        width: 100%;
    }
    .btn-play {
        transform: translateY(.5rem);
    }
    .game-title {
        margin: 0 auto;
    }
    .game-container {
        flex-wrap: wrap;
    }
    .image,
    .buttons {
        min-height: 40vh;
        width: 100%;
    }
    .symbol {
        width: 11%;
        height: 10%;
    }
    .per-div:first-child {
        padding: 1rem 0;
    }
    .permition-title {
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 1012px){
    .btn-play {
        transform: translateY(.5rem);
    }
}